<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  
  <add name="CmsDBConnectionString" connectionString="host=127.0.0.1;user id=root;password=123qwe;database=cms;port=3306;allow zero datetime=no;charset=gb2312;" />
  <add name="GprsDBConnectionString" connectionString="host=127.0.0.1;user id=root;password=123;database=gprsinfo;port=3306;allow zero datetime=no;charset=gb2312;" />
  <add name="GpsDBConnectionString" connectionString="host=127.0.0.1;user id=root;password=123;database=gpsinfo;port=3306;allow zero datetime=no;charset=gb2312;" />
  <add name="PicDBConnectionString" connectionString="host=127.0.0.1;user id=root;password=123;database=cms_pic;port=3306;allow zero datetime=no;charset=gb2312;" />
  <add name="ToolsDBConnectionString" connectionString="host=127.0.0.1;user id=root;password=123;database=cms_tools;port=3306;allow zero datetime=no;charset=gb2312;" />
  
  <!--<add name="CmsDBConnectionString" connectionString="/ygRTI3tfMCMTY5wkjlsgmJRElcWX+NkypTFbsvnIZhBFMJl1g6OpyUvfRFIAjJfOPP7seGE3Wc26Wj1cSudMf5UK97gsCTbyixCb/4IApeh3j5URr//gaPXtkz/iiN6qvovuxHPUr3VwW4zr7QWtg==" />
  <add name="GprsDBConnectionString" connectionString="/ygRTI3tfMCMTY5wkjlsgmJRElcWX+NkypTFbsvnIZhBFMJl1g6OpyUvfRFIAjJfUsfR48cWw253t+LeUEj2iX8XWRX638z6jQmsCa8m1oiOBE9dXSuAItzliK5tsGlEmvWqofLP/k459Dz4QZV3mL54aeALrNyb3Y5pMi1uoBg=" />
  <add name="GpsDBConnectionString" connectionString="/ygRTI3tfMCMTY5wkjlsgmJRElcWX+NkypTFbsvnIZhBFMJl1g6OpyUvfRFIAjJfwuE1q1AoRcyvFLCuN/7t2Hl5dsYWEtX8CmLBGDCMaA0lQVytKiioQ7JxmExgjuxMZMAu+WzHyKOwqb1VB9C13UGQrp57OF5GdmUN4UsJVPg=" />
  <add name="PicDBConnectionString" connectionString="/ygRTI3tfMCMTY5wkjlsgmJRElcWX+NkypTFbsvnIZhBFMJl1g6OpyUvfRFIAjJfKWcc+fp4XQHzgNrxCytAb6QtLbTVxZxTbxdSz+n861dVa8w/juC6L5GcFNVMu2Jqp5f8gV/K+XxrZt8vymmpvOnLRLWPvzeTlYFoxLz5wCM=" />
  <add name="ToolsDBConnectionString" connectionString="/ygRTI3tfMCMTY5wkjlsgmJRElcWX+NkypTFbsvnIZhBFMJl1g6OpyUvfRFIAjJfxfxxexOLtGccyZvnm+JibkQKcwE8Ho13eVqXtfO+h1u7k63dembORTgflJYUywkqQCSFXCT0Wz4WZUUa8Mxgjm671CSM+5oTWWVE4Dh+Scs=" />-->
  <add name="DBConnectionStringEncrypt" connectionString="0" />
</connectionStrings>