<?xml version="1.0" encoding="utf-8"?>
<config>
  <icon code="50101" status="0">/skin/default/images/common/emap/car_n_gray.png</icon>
  <icon code="50101" status="1">/skin/default/images/common/emap/car_n_green.png</icon>
  <icon code="50101" status="2">/skin/default/images/common/emap/car_n_red.png</icon>
  <icon code="50102" status="0">/upfiles/icon/201405261519564841.png</icon>
  <icon code="50102" status="1">/skin/default/images/common/emap/car_n_green.png</icon>
  <icon code="50102" status="2">/skin/default/images/common/emap/car_n_red.png</icon>
  <icon code="50105" status="0">/skin/default/images/common/emap/car_n_gray.png</icon>
  <icon code="50105" status="1">/skin/default/images/common/emap/car_n_green.png</icon>
  <icon code="50105" status="2">/skin/default/images/common/emap/car_n_red.png</icon>
  <icon code="50106" status="0">/skin/default/images/common/emap/car_n_gray.png</icon>
  <icon code="50106" status="1">/skin/default/images/common/emap/car_n_green.png</icon>
  <icon code="50106" status="2">/skin/default/images/common/emap/car_n_red.png</icon>
  <icon code="50107" status="0">/skin/default/images/common/emap/car_n_gray.png</icon>
  <icon code="50107" status="1">/skin/default/images/common/emap/car_n_green.png</icon>
  <icon code="50107" status="2">/skin/default/images/common/emap/car_n_red.png</icon>
  <icon code="50780" status="0">/skin/default/images/common/emap/car_n_gray.png</icon>
  <icon code="50780" status="1">/skin/default/images/common/emap/car_n_green.png</icon>
  <icon code="50780" status="2">/skin/default/images/common/emap/car_n_red.png</icon>
  <icon code="50116" status="0">/skin/default/images/common/emap/car_n_gray.png</icon>
  <icon code="50116" status="1">/skin/default/images/common/emap/car_n_green.png</icon>
  <icon code="50116" status="2">/skin/default/images/common/emap/car_n_red.png</icon>
  <icon code="50117" status="0">/skin/default/images/common/emap/car_n_gray.png</icon>
  <icon code="50117" status="1">/skin/default/images/common/emap/car_n_green.png</icon>
  <icon code="50117" status="2">/skin/default/images/common/emap/car_n_red.png</icon>
  <icon code="50790" status="0">/skin/default/images/common/emap/car_n_gray.png</icon>
  <icon code="50790" status="1">/skin/default/images/common/emap/car_n_green.png</icon>
  <icon code="50790" status="2">/skin/default/images/common/emap/car_n_red.png</icon>
  <icon code="50813" status="0">/skin/default/images/common/emap/car_n_gray.png</icon>
  <icon code="50813" status="1">/skin/default/images/common/emap/car_n_green.png</icon>
  <icon code="50813" status="2">/skin/default/images/common/emap/car_n_red.png</icon>
  <icon code="50785" status="0">/skin/default/images/common/emap/car_n_gray.png</icon>
  <icon code="50785" status="1">/skin/default/images/common/emap/car_n_green.png</icon>
  <icon code="50785" status="2">/skin/default/images/common/emap/car_n_red.png</icon>
  <icon code="50305" status="0">/skin/default/images/common/emap/car_n_gray.png</icon>
  <icon code="50305" status="1">/skin/default/images/common/emap/car_n_green.png</icon>
  <icon code="50305" status="2">/skin/default/images/common/emap/car_n_red.png</icon>
</config>