<?xml version="1.0" encoding="utf-8"?>
<config>
  <menu type="1" priority="50" open="0" show="1" enabled="1" network="1" code="10001" name="视频预览" path="/modules/preview/default.aspx" icon="preview.png" time="">
  </menu>
  <menu type="1" priority="50" open="0" show="1" enabled="1" network="1" code="10002" name="录像回放" path="/modules/playback/default.aspx" icon="playback.png" time="">
  </menu>
  <menu type="1" priority="50" open="0" show="1" enabled="1" network="1" code="10003" name="实时数据" path="/modules/gprs/default.aspx" icon="gprs.png" time="">
  </menu>
  <menu type="1" priority="50" open="0" show="1" enabled="1" network="1" code="10004" name="轨迹回放" path="/modules/gpsTrack/default.aspx" icon="gps_track.png" time="">
  </menu>
  <menu type="1" priority="50" open="0" show="1" enabled="1" network="1" code="10005" name="电子地图" path="/modules/emap/default.aspx" icon="gis.png" time="">
  </menu>
  <menu type="1" priority="50" open="0" show="1" enabled="1" network="1" code="10006" name="抓拍查询" path="/modules/capture/default.aspx" icon="capture.png" time="">
  </menu>
  <menu type="1" priority="50" open="0" show="1" enabled="1" network="1" code="10016" name="文件查询" path="/modules/devUploadFile/default.aspx" icon="capture.png" time="">
  </menu>
  <menu type="1" priority="50" open="0" show="1" enabled="1" network="1" code="10007" name="GPS统计" path="/modules/gpsStat/default.aspx" icon="gps_stat.png" time="">
  </menu>
  <menu type="1" priority="50" open="0" show="0" enabled="0" network="1" code="10017" name="图像比对" path="/modules/alarm/default.aspx" icon="picture_alarm.png" time="">
  </menu>
  <menu type="1" priority="50" open="0" show="1" enabled="1" network="1" code="10008" name="GPS巡检" path="/modules/gpsPatrol/default.aspx" icon="patrol_manage.png" time="">
  </menu>
  <menu type="1" priority="50" open="1" show="1" enabled="1" network="1" code="10010" name="本地配置" path="/modules/param/sysconfig.aspx" icon="config.png" time="">
  </menu>
  <menu type="1" priority="50" open="0" show="1" enabled="1" network="1" code="10009" name="历史数据" path="/modules/history/default.aspx" icon="history.png" time="">
  </menu>
  <menu type="1" priority="90" open="0" show="0" enabled="1" network="1" code="10100" name="调试数据" path="/modules/debug/default.aspx" icon="debug.png" time="">
  </menu>
  <menu type="1" priority="50" open="0" show="0" enabled="0" network="1" code="10018" name="GPS巡检" path="/modules/patrol/default.aspx" icon="patrol_manage.png" time="">
  </menu>
  <menu type="1" priority="50" open="0" show="1" enabled="1" network="1" code="10021" name="FLASH视频" path="/modules/previewFlash/default.aspx" icon="flash_preview.png" time="">
  </menu>
  <menu type="1" priority="50" open="0" show="1" enabled="1" network="1" code="10022" name="LED显示屏" path="/modules/ledScreen/default.aspx" icon="flash_preview.png" time="">
  </menu>
  <menu type="2" priority="50" open="0" show="1" enabled="1" network="1,2" code="20001" name="组织资源" path="/modules/organize/default.aspx" icon="resource.png" time="">
  </menu>
  <menu type="2" priority="50" open="0" show="1" enabled="1" network="1,2" code="20002" name="用户管理" path="/modules/user/default.aspx" icon="user.png" time="">
  </menu>
  <menu type="2" priority="50" open="0" show="0" enabled="1" network="1" code="20003" name="录像管理" path="/modules/record/default.aspx" icon="record.png" time="">
  </menu>
  <menu type="2" priority="50" open="0" show="1" enabled="1" network="1" code="20004" name="巡检管理" path="/modules/patrolManage/default.aspx" icon="patrol.png" time="">
  </menu>
  <menu type="2" priority="50" open="0" show="0" enabled="1" network="1" code="20005" name="报警管理" path="/modules/alarmManage/default.aspx" icon="alarm.png" time="">
  </menu>
  <menu type="2" priority="50" open="0" show="0" enabled="1" network="1,2" code="20006" name="地图管理" path="/modules/emapManage/default.aspx" icon="map.png" time="">
  </menu>
  <menu type="2" priority="90" open="1" show="0" enabled="1" network="1" code="20007" name="系统参数" path="/modules/param/sysparam.aspx" icon="sys_config.png" time="">
  </menu>
  <menu type="2" priority="90" open="0" show="0" enabled="1" network="1" code="20008" name="日志管理" path="/modules/log/default.aspx" icon="log.png" time="">
  </menu>
  <menu type="2" priority="50" open="0" show="1" enabled="1" network="1" code="20010" name="信息管理" path="/modules/infoManage/default.aspx" icon="info.png">
  </menu>
  <menu type="2" priority="50" open="0" show="1" enabled="1" network="1" code="20011" name="短信管理" path="/modules/sms/default.aspx" icon="info.png">
  </menu>
  <menu type="2" priority="50" open="0" show="1" enabled="1" network="1" code="20100" name="系统设置" path="/modules/config/default.aspx" icon="sys_setting.png">
  </menu>
</config>