<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--配置文件名称-->
  <add key="ConfigFileDir" value="/config" />
  <add key="ConfigFileName" value="webs.config" />
  <add key="MenuConfigFileName" value="menu.config" />
  <!--系统配置-->
  <add key="WebName" value="视频监控管理系统" />
  <add key="LogoImage" value="" />
  <add key="LogoName" value="视频监控管理系统" />
  <add key="Copyright" value="版权所有 &amp;#169; 2013-2014 视频监控管理系统" />
  <!--系统图片配置-->
  <add key="LoginBg" value="login-bg.jpg" />
  <add key="WelcomeBg" value="welcome.jpg" />
  <add key="TopBanner" value="banner.png" />
  <add key="IndexTopBanner" value="banner-index.jpg" />
  <!--以下内容请不要修改，若修改可能会导致网站运行不正常-->
  <add key="LoginUrl" value="/login.aspx" />
  <add key="HomeUrl" value="/default.aspx" />
  <add key="ModuleUrl" value="/module.aspx" />
  <add key="NoAuthUrl" value="/common/aspx/noauth.aspx" />
  <add key="ErrorUrl" value="/common/aspx/error.aspx" />
  <add key="ErrorLogDir" value="/log/error/" />
  <add key="EventLogDir" value="/log/event/" />
  <add key="DebugLogDir" value="/log/debug/" />
  <add key="ImageDir" value="/skin/default/images/" />
  <add key="CssDir" value="/skin/default/css/" />
  <!--上传文件的存放目录-->
  <add key="UploadFileDir" value="/upfiles" />
  <!--电话录音文件的存放目录-->
  <add key="SoundRecordFileDir" value="/sound" />
  <!--是否验证数据来源-->
  <add key="ValidateUrlReferrer" value="0" />
  <!--是否验证表单提交方式-->
  <add key="ValidateRequestType" value="1" />
  <!--是否验证表单请求令牌-->
  <add key="ValidateRequestToken" value="1" />
  <!--是否禁用右键菜单(后台)-->
  <add key="DisabledContextMenu" value="0" />
  <!--是否保存管理员用户名-->
  <add key="SaveAdminName" value="1" />
  <!--是否保存管理员密码-->
  <add key="SaveAdminPassword" value="1" />
  <!--是否启用自动登录-->
  <add key="AdminAutoLogin" value="0" />
  <!--后台登录失败多少次启用验证码，若设置为-1表示不启用验证码-->
  <add key="LoginFailedTimes" value="3" />
  <!--树型菜单中是否显示父节点 1:显示，0:不显示-->
  <add key="ParentNodeDisplay" value="0" />
  <add key="UserTimeoutTime" value="20" />
  <add key="UserTimeoutDelete" value="30" />
  <!--设备超时时间设置，单位：秒-->
  <add key="DeviceTimeoutTime3G" value="30" />
  <add key="DeviceTimeoutTime2G" value="60" />
  <!--OCX控件-->
  <add key="OcxVersion" value="1.0.0.26" />
  <!--GPRS Server Config-->
  <add key="GprsServerIp" value="127.0.0.1" />
  <add key="GprsServerPort" value="23400" />
  <add key="GprsSendLog" value="1" />
  <!--Redis Server Config-->
  <add key="RedisServerIp" value="127.0.0.1" />
  <add key="RedisServerPort" value="23499" />
  <!--是否调用Redis服务-->
  <add key="RedisEnabled" value="0" />
  <!--是否推送中心录像计划给CSS服务器-->
  <add key="RecordPlanPush" value="1" />
  <!--Sms Server Config-->
  <add key="SmsServerIp" value="127.0.0.1" />
  <add key="SmsServerPort" value="23405" />
  <!--Led Server Config-->
  <add key="LedServerIp" value="127.0.0.1" />
  <add key="LedServerPort" value="23401" />
  <!--手持终端APK-->
  <add key="ApkVersion" value="1.00.001" />
  <add key="ApkFileDir" value="/download/apk/" />
  <add key="ApkFileName" value="Win8Style.apk" />
  <!-- WEB心跳时间间隔，单位：秒 -->
  <add key="SocketHeartbeatInterval" value="15" />
  <!-- 日志文件大小，单位：M -->
  <add key="LogFileSize" value="10" />
  <!--电子地图设置-->
  <!--地图引擎：bmap-百度地图，gmap-谷歌地图-->
  <add key="MapEngine" value="bmap" />
  <!--百度地图KEY-->
  <add key="BaiDuMapKey" value="RIGCmUNyr3guCeMDqLwGr7Dx" />
  <add key="MapCenter" value="29.8745801,121.6404101" />
  <add key="MapZoom" value="15" />
  <add key="MapType" value="BMAP_NORMAL_MAP" />
  <!--抓拍查询设置-->
  <add key="CapturePictureDaysStart" value="-2" />
  <add key="CapturePictureDaysEnd" value="0" />
  <add key="HasPictureAlarmModule" value="0" />
  <!--图像比对报警设置-->
  <add key="PictureAlarmDaysStart" value="-1" />
  <add key="PictureAlarmDaysEnd" value="0" />
  <!--电话录音本机号码设置-->
  <add key="SoundRecordPhoneNumberList" value="" />
  <!--短信发送号码设置-->
  <add key="SmsPhoneNumberList" value="" />
  <!--是否显示设备报警事件信息-->
  <add key="ShowDeviceAlarmEvent" value="0" />
  <!--是否播放设备报警事件声音提示-->
  <add key="PlayDeviceAlarmSound" value="0" />
</appSettings>